body{
    margin: 0;
    pad: 0;
    background-image: url(img/baggrund.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container{
    position: relative;
    margin-top: 60px;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

