body{
    margin: 0;
    pad: 0;
    background-image: url(img/baggrund.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* navigation styling start*/
nav{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    padding: 0 5%;
    background-color: #e1d7cc;
}

header .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}


nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navigation ul{
    list-style: none;
}

nav .links a{
    display: block;
    color: #A15A33;
    text-decoration: none;
}

.logo a:hover{
    color: white;
}

nav ul li a:hover{
    color: white;
}

nav .logo{
    width: auto;
    justify-content: center;
}
nav .links{
    display: flex;
    justify-content: space-between;
}


/*nav .links{
        display: flex;
        flex-direction: column;
    }

/* navigation styling end*/     



/*main index content*/
.profil{
    margin-top: 100px;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #A15A33;
}

p{
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    color: #A15A33;
    font-size: 15px;

}

button{
    background-color: #A15A33;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 20px;
}

.kontakt-knap a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
}

.flex1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
}

.about{
    margin-top: 15%;
    margin-right: 50px;
}

.projects{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #A15A33;
}


.mockup img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin-top: 30px;
}

.portræt img{
    width: 400px;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.ur-serie img{
    width: 400px;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.flexbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.se-mere a{
   font-family: 'montserrat', sans-serif;
   color: #A15A33;
   font-size:  1.1em;
   font-weight: 500;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.se-mere{
    margin-bottom: 50px;
}

.information{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.copyright{
    color: #A15A33;
    font-family: 'montserrat', sans-serif;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*main content index end*/

  
/* om mig content styling start*/
.profil-om-mig{
    margin-top: 0px;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}

h3{
    font-family: 'montserrat', sans-serif;
    color: #A15A33;
    font-weight: 500;
    font-size: 25px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.om-mig{
    font-family: 'montserrat', sans-serif;
    color: #A15A33;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    line-height: 1.8;
}

.kontakt-knap2{
    background-color: #A15A33;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 20px;
}

.kontakt-knap2 a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
}


/* om mig content styling end*/




/*portfolie styling start*/

.projekt-plakat img{
    width: 400px;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.salomonsen img{
    width: 400px;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

.logo-spin img{
    width: 400px;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

/*portfolie styling end*/



  
/*kontakt styling start*/

.logo1 img{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
}

.kontakt-tekst h4{
    font-family: 'montserrat', sans-serif;
    color: #A15A33;
    font-weight: 500;
    font-size: 20px;
}

.kontakt-tekst p{
    margin-top: 40px;
    text-align: left;
    line-height: 1.8;'
  
}

.information-kontakt{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}


/*kontakt styling end*/


/* RESPONSIV TABLET */

@media (max-width: 768px) {
    .profil{
        width: 360px;
    }

    .projects{
        margin-left: 280px;
    }
    .projects h2{
        margin-left: 0px;
    }
    .profil-om-mig{
        margin-top: -1px;
        width: 360px;
    }


}


/* RESPONSIV MOBIL */
@media (max-width: 480px) {

    .flex1{
        display: flex;
        flex-direction: column;
    align-items: flex-start;
    }


    .about{
        margin-left: 20px;
    }
    .projects{
        margin-left: 0px;
    }
    .projects h2{
        margin-left: 10px;
    }
    .mockup img{
        max-width: 300px;
    }
    .portræt img{
        max-width: 300px;
    }
    .ur-serie img{
        max-width: 300px;
        margin-left: 10px;
    }

    .projekt-plakat img{
        max-width: 300px;
    }

    .salomonsen img{
        max-width: 300px;
    }
    .logo-spin img{
        max-width: 300px;
    }

    .flexbox1{
        flex-direction: column;
    }
    .information{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    .information{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    .kontakt-tekst{
        margin-left: 10px;
    }

    .information-kontakt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}
