body{
    margin: 0;
    pad: 0;
    background-image: url(img/baggrund.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* navigation styling start*/
nav{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    padding: 0 5%;
    background-color: #e1d7cc;
}

header .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}


nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navigation ul{
    list-style: none;
}

nav .links a{
    display: block;
    color: #A15A33;
    text-decoration: none;
}

.logo a:hover{
    color: white;
}

nav ul li a:hover{
    color: white;
}


@media screen and (max-width: 750px){
    nav .logo{
        width: auto;
        justify-content: center;

    }
    nav .links{
       display: flex;
       justify-content: space-between;
    }
}


@media  screen and (max-width: 500px){
    nav .links{
        display: flex;
        flex-direction: column;

    }
}
/* navigation styling end*/     

/*main content*/

.profil{
    margin-top: 150px;
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #A15A33;
}

p{
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    color: #A15A33;
}

button{
    background-color: #A15A33;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 12px;
}

.kontakt a{
    color: #e1d7cc;
    text-decoration: none;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #A15A33;
}

/*main content end*/

  
   

  





